<!-- ### download section ### -->
<section id="download-section">
  <main class="container">
    <!-- call-to-action -->
    <div id="cta">
      <h1 class="display-4">BAIXE NOSSOS APPS E COMECE A GANHAR DINHEIRO!</h1>
      <a href="#download-content"
        ><i class="fas fa-arrow-circle-down fa-5x"></i
      ></a>
    </div>
    <!-- /#cta -->

    <!-- promoted-apps grid -->
    <!-- OPTION 3 -->
    <div class="row">
      <% appsList.forEach((app) => { %>
      <div class="promoted-app col-12 col-md-6 col-lg-4">
        <div class="card">
          <h3><%=app.name%></h3>
          <div class="row">
            <div class="col-6">
              <img
                src="/img/<%=app.image%>"
                alt="Logotipo do aplicativo AttaPoll"
              />
            </div>
            <div class="col-6 app-badges">
              <div class="promotional-code">
                <span>
                  <strong>Use o código:</strong>
                </span>
                <span> <%=app.promoCode%> </span>
              </div>
              <!-- /.promotional-code -->
              <a href="<%=app.playStoreLink%>">
                <img src="/img/google-play-badge.png" alt="" />
              </a>
              <a href="<%=app.appleStoreLink%>">
                <img src="/img/app-store-badge.png" alt="" />
              </a>
            </div>
            <!-- /.col-6 .app-badges -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.promoted-app .col-12 .col-md-6 .col-lg-4 -->

      <% }) %>
    </div>
    <!-- /.row -->
  </main>
  <!-- /.main -->

  <%- include('./partials/ads') %>
</section>
<!-- /#download-section -->
