<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= pageTitle %> | <%= pageSlogan %></title>

  <%- include('./partials/links') %>

</head>

<body>

  <%- include('./partials/navigation') %>

  <%- include(`../pages/${template}`) %>

  <hr>

  <%- include('./partials/about') %>

  <%- include('./partials/contact') %>

  <%- include('./partials/footer') %>

</body>

<%- include('./partials/scripts') %>

</html>